/* tag */
body, section {
	width: 500px;
	height: 400px;
	overflow-x: hidden;
}

section {
	padding: 5px;
}

a[role="button"]{
	cursor: hand;
}

/* Scroll Bar */
::-webkit-scrollbar{
	width: 6px;
}

::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb:window-inactive{
	background: #777;
}

/* Class */
.template{
	position: relative;
	padding: 10px;
	margin: 10px 5px 10px 0px;
	border: 1px solid #eee;
	border-left-width: 5px;
}

.template-child{
	margin-left: 20px;
}

.template .button-container-0{
	position: absolute;
	top: 0px;
	right: 5px;
}

.template .button-container-1{
	position: absolute;
	top: 27px;
	right: 5px;
}

.template-child .button-container-1{
	display: none;
}

.template-rule .h4{
	margin-top: 5px;
	margin-bottom: 5px;
}

.template-rule .rule-group{
	max-width: 355px;
	display: inline-block;
	overflow-x: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.template-child .rule-group{
	max-width: 335px;
}

.template-rule .path-parent-group{
	display: none;
}

.template-child .path-parent-group{
	display: inline;
}

.template .rule-prefix, .rule-suffix{
	padding: 0px 2px 0px 2px;
	color: #AAB2BD;
}

.template .rule-prefix{
	float: left;
}

.template .rule-suffix{
	float: right;
}

.template p:last-child{
	margin-bottom: 0;
}

.template code{
	border-radius: 0px;
}

.template .label{
	border-radius: 0px;
}

.template-rule{
	min-height: 99px;
}

.template-rule-file-extension{
    border-left-color: #4A89DC;
}

.template-rule-file-extension .h4{
    color: #4A89DC;
}

.template-rule-file-extension .label{
    background-color: #4A89DC;
}

.template-rule-file-extension .path{
    color: #5D9CEC;
		font-weight: bold;
}

.template-rule-file-regex{
    border-left-color: #967ADC;
}

.template-rule-file-regex .h4{
    color: #967ADC;
}

.template-rule-file-regex .label{
    background-color: #967ADC;
}

.template-rule-file-regex .path{
    color: #AC92EC;
		font-weight: bold;
}

.template-rule-site-address{
    border-left-color: #F6BB42;
}

.template-rule-site-address .h4{
    color: #F6BB42;
}

.template-rule-site-address .label{
    background-color: #F6BB42;
}

.template-rule-site-address .path{
    color: #FFCE54;
		font-weight: bold;
}

.template-rule-site-regex{
    border-left-color: #D770AD;
}

.template-rule-site-regex .h4{
    color: #D770AD;
}

.template-rule-site-regex .label{
    background-color: #D770AD;
}

.template-rule-site-regex .path{
    color: #EC87C0;
		font-weight: bold;
}

.template-editor{
    border-left-color: #D9534F;
}

.template-editor .dropdown-menu li a{
	font-size: 0.85em;
}

.template-editor .dropdown-menu li a[active]{
	color: #8CC152;
}

.template-editor .help-block{
	margin: 0px;
}

.template-notify{
	border: 0px;
}

.btn, .input-group-addon, .form-control, .dropdown-menu{
	border-radius: 0px;
}

.child-collection{
	padding: 0px;
	margin: 0px;
}

.popup{
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1031;
}

.popup-window{
	margin: 15% 10% 0% 10%;
	background-color: #FFFFFF;
}

.popup-window .header{
	padding: 10px 10px 10px 15px;
	color: #DA4453;
	background-color: #333333;
}

.popup-window .body{
	padding: 10px 10px 10px 15px;
	word-wrap: break-word;
}

/* Id */
#navbar-top{
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
	width: 100%;
	border-radius: 0px;
	z-index: 1030;
}

#navbar-bottom{
	position: fixed;
	left: 0px;
	right: 0px;
	bottom: 0px;
	width: 100%;
	border-radius: 0px;
	z-index: 1030;
}

#rule-collection{
	margin-top: 55px;
	margin-bottom: 25px;
	height: 310px;
	overflow-x: hidden;
	overflow-y: scroll;
}
