/* tag */
body, section {
	width: 500px;
	height: 400px;
	overflow-x: hidden;
}

section {
	padding: 5px;
}

a[role="button"]{
	cursor: hand;
}

/* Scroll Bar */
::-webkit-scrollbar{
	width: 6px;
}

::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb:window-inactive{
	background: #777;
}

/* Class */
.template{
	position: relative;
	padding: 10px;
	margin: 10px 5px 10px 0px;
	border: 1px solid #eee;
	border-left-width: 5px;
}

.template-child{
	margin-left: 20px;
}

.template .button-container-0{
	position: absolute;
	top: 0px;
	right: 5px;
}

.template .button-container-1{
	position: absolute;
	top: 27px;
	right: 5px;
}

.template-child .button-container-1{
	display: none;
}

.template-rule .h3{
	margin-top: 5px;
	margin-bottom: 5px;
}

.template-rule .rule{
	max-width: 360px;
	display: inline-block;
	overflow-x: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.template-child .rule{
	max-width: 340px;
}

.template .rule-prefix, .rule-suffix{
	padding: 0px 2px 0px 2px;
	color: #000;
}

.template .rule-prefix{
	float: left;
}

.template .rule-suffix{
	float: right;
}

.template p:last-child{
	margin-bottom: 0;
}

.template code{
	border-radius: 0px;
}

.template .label{
	border-radius: 0px;
}

.template-rule{
	min-height: 99px;
}

.template-rule-extension{
    border-left-color: #5D9CEC;
}

.template-rule-extension .h3{
    color: #5D9CEC;
}

.template-rule-extension .label{
    background-color: #5D9CEC;
}

.template-rule-regex{
    border-left-color: #967ADC;
}

.template-rule-regex .h3{
    color: #967ADC;
}

.template-rule-regex .label{
    background-color: #967ADC;
}

.template-editor{
    border-left-color: #D9534F;
}

.template-notify{
	border: 0px;
}

.btn, .input-group-addon, .form-control, .dropdown-menu{
	border-radius: 0px;
}

.popup{
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1031;
}

.popup .panel{
	margin: 15% 10% 0% 10%;
	border-radius: 0px;
}

.popup .panel .header{
	color: #8C8C8C;
	background-color: #333333;
}

.popup .panel .body{
	padding: 10px;
}

.popup .panel p{
	margin: 5px 0px 10px 0px;
}

.popup .panel .h2{
	margin-left: 10px;
}

/* Id */
#navbar-top{
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
	width: 100%;
	border-radius: 0px;
	z-index: 1030;
}

#navbar-bottom{
	position: fixed;
	left: 0px;
	right: 0px;
	bottom: 0px;
	width: 100%;
	border-radius: 0px;
	z-index: 1030;
}

#rule-collection{
	margin-top: 55px;
	margin-bottom: 25px;
	height: 310px;
	overflow-x: hidden;
	overflow-y: scroll;
}
